<h4>I am the 21st century partner for your special occasions. <br><br>I am here because few IIM Bangalore graduates were frustrated by
how much time, effort, and money had gone into Jewelry shopping. <br><br>They thought modern India needed me. <br><br>I understand you must
be crunched for time as you prepare for your occasions. <br><br>I will be sure to bring your best-loved jewelry wherever and whenever
you want (as long as you my dear are in India). <br><br>If I don’t bring them on time, I promise to refund the payment made by you
down to the last rupee. <br><br>Indeed, I will pay another 20,000 bucks from my pocket. <br><br>I will offer a comprehensive catalogue of
Jewelry pieces for you. <br><br>Be sure to buy a piece only if you love it. And if you don’t know it yet, just rent it. <br><br>This is me.
</h4><h2>I am Occasions 21.</h2>
<hr>
<h2>THE OCCASIONS 21 ADVANTAGE</h2>
<hr>


<div class="container-fluid">
  <div class="row centered">
    <div class="col-sm-6 col-md-6">
      <div class="aboutuspointers">Commitment</div>
      <p>Guaranteed delivery before the occasion or Rs. 20,000 refund</p>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="aboutuspointers">Rent-to-Purchase Conversion</div>  
      
        Rent it if you like it. Buy it if you love it. Convert from rent to purchase when you know it; rent would be refunded
    </div>
    
  </div>
</div>

<div class="container-fluid">
  <div class="row centered">
    <div class="col-sm-6 col-md-6">
        <div class="aboutuspointers">Last-mile Reach</div>
        Guaranteed delivery to any nook and corner of India
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="aboutuspointers">24-hour Customer Service</div>
        Our rock star customer service team is with you every step of the journey
        
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row centered">
    
    <div class="col-sm-6 col-md-6">
        <div class="aboutuspointers">Next Day Delivery</div>
        Last minute gifting and planning made easy for metro dwellers
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="aboutuspointers">Comprehensive Catalogue</div>
        Wide variety of products from our partners across India
    </div>
    <div class="col-sm-2 col-md-2">
        <div class="aboutuspointers">Free Insured Shipping</div>
        We ship free of charge. Any damage or theft to the good in transit is taken care of.
    </div>
    
  </div>
</div>
<div class="container-fluid">
    <div class="row centered">
      
      <div class="col-sm-2 col-md-2">
          <div class="aboutuspointers">Free Insured Shipping</div>
          We ship free of charge. Any damage or theft to the good in transit is taken care of.
      </div>
      
    </div>
  </div>








  

<!-- <div class="grid grid-pad">
  <div class="center-block">
    <div>
      <div class="aboutuspointers">
        <p>Commitment</p>
      </div>
      <h4>Guaranteed delivery before the occasion or Rs. 20,000 refund</h4>
    </div>
  </div>
  <div class="center-md-6">
    <div class="center-block">
      <div class="aboutuspointers">
        <p>Rent-to-Purchase Conversion</p>
      </div>
      <h4>
        Rent it if you like it. Buy it if you love it. Convert from rent to purchase when you know it; rent would be refunded
      </h4>
    </div>

  </div>

  <div class="center-md-6">
    <div class="center-block">
      <div class="aboutuspointers">
        <p>Last-mile Reach</p>
      </div>
      <h4>
        Guaranteed delivery to any nook and corner of India
      </h4>
    </div>
  </div>
  <div class="center-md-6">
    <div>
      <div class="aboutuspointers">
        <p>24-hour Customer Service</p>
      </div>
      <h4>
        Our rock star customer service team is with you every step of the journey
      </h4>
    </div>
  </div>
  <div class="center-md-6">
    <div>
      <div class="aboutuspointers">
        <p>Next Day Delivery</p>
      </div>
      <h4>
        Last minute gifting and planning made easy for metro dwellers
      </h4>
    </div>
  </div>
  <div class="center-md-6">
    <div>
      <div class="aboutuspointers">
        <p>Comprehensive Catalogue</p>
      </div>
      <h4>
        Wide variety of products from our partners across India
      </h4>
    </div>
  </div>
  <div class="center-md-6">
      <div>
        <div class="aboutuspointers">
          <p>Free Insured Shipping</p>
        </div>
        <h4>
            We ship free of charge. Any damage or theft to the good in transit is taken care of.
        </h4>
      </div>
    </div>

</div> -->