<h4>I am the 21st century partner for your special occasions.
  <br>
  <br>I am here because few IIM Bangalore graduates were frustrated by how much time, effort, and money had gone into Jewelry
  shopping. They thought modern India needed me.
  <br>
  <br>I understand you must be crunched for time as you prepare for your occasions. I will be sure to bring your best-loved jewelry
  wherever and whenever you want (as long as you my dear are in India). If I don’t bring them on time, I promise to refund
  the payment made by you down to the last rupee. Indeed, I will pay another 20,000 bucks from my pocket.
  <br>
  <br>I will offer a comprehensive catalogue of Jewelry pieces for you. Be sure to
  <b>buy a piece only if you love it</b>. And
  <b>if you don’t know it yet, just rent it</b>. This is me.
</h4>
<h2>I am Occasions 21.</h2>

<br>
<h2 class="aboutuspointersbar">THE OCCASIONS 21 ADVANTAGE</h2>



<div class="container-fluid">
  <div class="row centered">
    <div class="col-sm-3 col-md-3">
      <img class="aboutus_pointer_icon" src="../../assets/commitment.png">
      <div class="aboutuspointers">Commitment</div>
      <div>Guaranteed delivery
      <br>before the occasion or Rs. 20,000 refund</div>
    </div>
    <div class="col-sm-3 col-md-3">
        <img class="aboutus_pointer_icon" src="../../assets/commitment.png">
      <div class="aboutuspointers">Rent-to-Purchase Conversion</div>
      Rent it if you like it. Buy it if you love it.
      <br>Convert from rent to purchase when you know it;
      <br>rent would be refunded
    </div>
    <div class="col-sm-3 col-md-3">
        <img class="aboutus_pointer_icon" src="../../assets/commitment.png">
      <div class="aboutuspointers">Last-mile Reach</div>
      Guaranteed delivery to any nook
      <br>and corner of India
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row centered">
    <div class="col-sm-3 col-md-3">
        <img class="aboutus_pointer_icon" src="../../assets/commitment.png">
      <div class="aboutuspointers">24-hour Customer Service</div>
      Our rock star customer service team <br>is with you every step of the journey
    </div>
    <div class="col-sm-3 col-md-3">
        <img class="aboutus_pointer_icon" src="../../assets/commitment.png">
      <div class="aboutuspointers">Next Day Delivery</div>
      Last minute gifting and planning made easy for metro dwellers
    </div>
    <div class="col-sm-3 col-md-3">
        <img class="aboutus_pointer_icon" src="../../assets/commitment.png">
      <div class="aboutuspointers">Comprehensive Catalogue</div>
      Wide variety of products from our partners across India
    </div>
    <div class="col-sm-3 col-md-3">
        <img class="aboutus_pointer_icon" src="../../assets/commitment.png">
      <div class="aboutuspointers">Free Insured Shipping</div>
      We ship free of charge.<br> Any damage or theft to the good in transit is taken care of.
    </div>
  </div>
</div>